* {
  box-sizing: border-box;
}
body {
  background-color: #4e6c50;
}

#board {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto 0 auto;
  width: 55%;
}
#title {
  text-align: center;
  color: white;
}
.header {
  text-align: center;
  margin-bottom: 20px;
}
.cell {
  height: 150px;
  width: 33.3%;
  border: 3px solid #aa8b56;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

h1 {
  color: #2c3333;
}
h2 {
  text-align: center;
  color: white;
}

#h3 {
  font-size: 30px;
}
input {
  display: block;
  width: 30%;
  margin: 10px auto;
  border: none;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
  font-size: 1rem;
}
input:hover {
  box-shadow: 0px 2px 3px gray;
}
input:focus {
  outline: none;
}
button {
  border: none;
  height: 2rem;
  border-radius: 3px;
  width: 9rem;
  cursor: pointer;
}
#start {
  background-color: rgb(65, 65, 188);
  margin-right: 30px;
  color: rgb(235, 231, 231);
  font-size: 1rem;
}
#restart {
  background-color: rgb(214, 96, 96);
  color: rgb(235, 231, 231);
  font-size: 1rem;
}
.hidden {
  visibility: hidden;
}
